[Unit]
Description=Timer for Server 1 daily reboot at 08:55
Requires=reboot_server1.service

[Timer]
OnCalendar=*-*-* 08:55:00
Persistent=true

[Install]
WantedBy=timers.target