[Unit]
Description=Timer for Server 4 daily reboot at 08:55
Requires=reboot_server4.service

[Timer]
OnCalendar=*-*-* 08:55:00
Persistent=true
RandomizedDelaySec=0
AccuracySec=1us

[Install]
WantedBy=timers.target